.submit-container {
  display: flex;
  gap: 30px;
  margin: 30px auto;
  justify-content: center;
}

.submit{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 40px;
  color: #fff;
  background: linear-gradient(rgb(30, 64, 175), rgb(30,58,138));
  border-radius: 50px;
  font-size: 14px;
  font-weight: 700;
  cursor: pointer;
}
.gray {
  background: #D1D5DB;
  color: rgb(163,163,163);
}

.animate-move-from-top-to-middle {
  animation: moveFromTopToMiddle 3s ease-in-out;
}


@keyframes moveFromTopToMiddle {
  from {
    transform: translateY(-100%);
  }
  to {
    transform: translateY(0%);
  }
}